<!-- CV -->
<div class="cv font-baloo text-center">

    <!-- EXP -->
    <section class="exp mt-5">
        <h1 class="font-bungee bust rellax" data-rellax-speed="1.5" data-rellax-xs-speed="0">WORK EXP</h1>
        <ul class="p-0 rellax" data-rellax-speed="0.5" data-rellax-xs-speed="0">
            <li class="row col-12">
                <div class="col-4 text-right">2000-2010</div>
                <div class="col-8 m-0 text-left">ipsum lorum .....</div>
            </li>
            <li class="row col-12">
                <div class="col-4">2000-2010</div>
                <div class="col">ipsum lorum .....</div>
            </li>
        </ul>
    </section>

    <!-- EDU -->
    <section class="edu mt-5">
        <h1 class="font-bungee bust">EDUCATION</h1>
        <ul>
            <li>
                ## 2000-2010
                ipsum lorum .....</li>
            <li>
                ## 2010-2020
                ipsum lorum .....</li>
        </ul>

    </section>

</div>
<!-- /CV -->