{% extends 'landing/base.html' %}
{% load static %}

{% block content %}

<!-- LANDING COVER -->
<div class="landing-cover rellax" data-rellax-speed="-5">

    <video autoplay muted loop playsinline id="coverVideo" poster="{% static 'landing/videos/time_poster.png' %}">
        <source src="{% static 'landing/videos/time.webm' %}" type="video/webm">
    </video>

    <div class="intro rellax" data-rellax-speed="-5">
        <h1 class="font-bungee wow flipInX" data-wow-delay="0.2s">Don Lee</h1>
        <h5 class="font-baloo font-weight-light text-shadow-light wow flipInX " data-wow-delay="0.5s">
            A creative developer | experimental photographer | meditator</h5>
        <a href="#projects" class="font-baloo btn btn-sm btn-info rounded-sm mt-3 mt-lg-5 px-3 py-1 wow flipInX"
            data-wow-delay="0.7s">
            find out more</a>
    </div>
    <button id="myBtn" onclick="myFunction()" class="btn btn-sm btn-outline-light rounded-sm px-4 wow flipInX rellax"
        data-wow-delay="1s">&#9658
        &#10074&#10074</button>

</div>


<!-- LANDING MAIN -->
<main class="landing-main rounded-lg">


    <!-- PROJECTS -->
    <div class="projects text-center" id="projects">
        <h1 class="font-bungee bust wow fadeInDown">Projects</h1>
        <div class="covers font-baloo row wow fadeInUp" data-wow-delay="0.2s">

            <div class="cover col-12 col-md-4 rellax" data-rellax-speed="-1" data-rellax-xs-speed="0">
                <img src="{% static 'landing/img/VA.jpg' %}" class="project-img rounded shadow" alt="project 1">
                <div class="project-img-overlay m-0">
                    <p class="">An e-Commerce website built with Django within 2 weeks</p>
                    <a target="_blank" href="https://va-boutique.com" class="btn btn-sm btn-warning px-3">visit now</a>
                </div>
            </div>

            <div class="cover col-12 col-md-4 rellax" data-rellax-speed="0.3" data-rellax-xs-speed="0">
                <img src="{% static 'landing/img/metta.jpg' %}" class="project-img rounded shadow" alt="project 2">
                <div class="project-img-overlay m-0">
                    <p class="">A mockup forum for practicing purposes. Use django to build a forum website</p>
                    <a target="_blank" href="https://metta-forum.herokuapp.com" class="btn btn-sm btn-warning px-3">visit now</a>
                </div>
            </div>

            <div class="cover col-12 col-md-4 m-0 rellax" data-rellax-speed="-0.3" data-rellax-xs-speed="0">
                <img src="{% static 'landing/img/artist.jpg' %}" class="project-img rounded shadow" alt="project 3">
                <div class="project-img-overlay m-0">
                    <p class="">The actual website was built without Flask framework, however, a replica is built with it for practising purposes</p>
                    <a target="_blank" href="https://donnelee.com" class="btn btn-sm btn-warning px-3">visit now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /PROJECTS -->



    <!-- ABOUT -->
    <div class="about">
        <h1 class="font-bungee bust text-center wow pulse" data-wow-delay="0.1s">About Don</h1>
        <div class="px-2 d-flex justify-content-around font-baloo">
            <div class="about-content rellax" data-rellax-speed="-1.5" data-rellax-xs-speed="0" data-rellax-mobile-speed="0">
                <section>
                    <h5>With passion in design and coding</h5>
                    <p>Gradually growing into a web developer as well as a thinker, a designer and a global team player</p>
                </section>
                <hr>
                <section class="row">
                    <a target="_blank" href="https://www.lagou.com/nearBy/downloadResume?id=12036723" class="w-100 col-md-4 m-2 btn btn-sm btn-secondary wow fadeInLeft" data-wow-delay="0.1s">
                    <!-- <a target="_blank" href="{% static 'landing/file/RESUME-PEIWEN_LI.pdf' %}" class="w-100 col-md-4 m-2 btn btn-sm btn-secondary wow fadeInLeft" data-wow-delay="0.1s"> -->
                        English CV</a>
                    <a target="_blank" href="https://www.lagou.com/nearBy/downloadResume?id=12036930" class="w-100 col-md-4 m-2 btn btn-sm btn-secondary wow fadeInLeft" data-wow-delay="0.3s">
                    <!-- <a target="_blank" href="{% static 'landing/file/李沛文简历.pdf' %}" class="w-100 col-md-4 m-2 btn btn-sm btn-secondary wow fadeInLeft" data-wow-delay="0.3s"> -->
                        中文 CV</a>
                    <a href="mailto:don_lee@me.com"
                        class="w-100 col-md-4 m-2 btn btn-sm btn-outline-secondary wow fadeInLeft" data-wow-delay="0.5s">Email Me</a>
                </section>
            </div>

            <div class="rellax" data-rellax-speed="1.3" data-rellax-xs-speed="0">
                <img src="{% static 'landing/img/portrait.png' %}" class="self-portrait rounded-lg" alt="self-portrait">
            </div>

        </div>
    </div>
    <!-- /ABOUT -->




</main>

<!-- footer -->
<footer class="footer shadow-lg d-flex flex-column align-items-center font-baloo">
    <div class="mt-5">
        <a target="_blank" href="https://github.com/LD8" class="text-center"><img src="{% static 'landing/img/github.png' %}" height="40px" alt="github logo"></a>
    </div>
    <div class="mt-5">
        <a class="col-3" target="_blank" href="https://ld8.github.io/blog">Blog</a>
        <a class="col-3" target="_blank" href="https://www.lagou.com/nearBy/downloadResume?id=12036723">CV</a>
        <!-- <a class="col-3" target="_blank" href="{% static 'landing/file/RESUME-PEIWEN_LI.pdf' %}">CV</a> -->
        <a class="col-3" href="mailto:don_lee@me.com">Email</a>
    </div>
</footer>

<script>
    // Get the video
    var video = document.getElementById("coverVideo");

    // Get the button
    var btn = document.getElementById("myBtn");

    // Pause and play the video, and change the button text
    function myFunction() {
        if (video.paused) {
            video.play();
            btn.innerHTML = "&#10074&#10074";
        } else {
            video.pause();
            btn.innerHTML = "&#9658";
        }
    }
</script>


{% endblock content %}