{% extends 'frontend/base.html' %} {% load static %} {% block ogImage %}
<meta
  property="og:image"
  itemprop="image"
  content="https://donlee.online/static/frontend/favicon.ico"
/>
{% endblock ogImage %} {% block title %}
<title>Don Lee</title>
{% endblock title %} {% block content %}
<div id="root"></div>
<script src="{% static 'frontend/main.js' %}"></script>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Don Lee" />
    <title>Don Lee</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html> -->
